= render 'devise/shared/tab_single', tab_title: '重置密码'
.login-box
  .login-body
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'gl-show-field-errors' }) do |f|
      .devise-errors
        = render "devise/shared/error_messages", resource: resource
      .form-group
        = f.label :email, '邮箱'
        = f.email_field :email, class: "form-control", required: true, value: params[:user_email], autofocus: true, title: '请提供一个有效的邮箱地址。'
      .clearfix
        = f.submit "重置密码", class: "btn-primary btn"

.clearfix.prepend-top-20
  = render 'devise/shared/sign_in_link'
