- page_title "后台作业"

%h3.page-title 后台作业
%p.light GitLab uses #{link_to "sidekiq", "http://sidekiq.org/"} library for async job processing

%hr
.card
  %iframe{ src: sidekiq_path, width: '100%', height: 970, style: "border: 0" }
